im-admin/target
im-admin/.idea

im-flink/idea
im-flink/target

im-server/target
im-server/.vscode
im-server/app.yml
im-server/.env
.idea
im-server/service/chat-server/app.yml
im-server/service/chat-server/examples
im-server/service/server-auth/app.yml
im-server/service/server-auth/.env
im-server/service/server-message/app.yml
im-server/service/server-user/app.yml
im-server/server-wechat.yml
im-server/apiclient_key.pem
